<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionFileName" class="QuestionFileNameImpl">
        <property name="fileName" value="questions.csv"/>
    </bean>

    <bean id="queriesService" class="QuestionServiceImpl">
        <constructor-arg name="fileName" ref="questionFileName"/>
    </bean>
</beans>